@import "responsive.css";

body {
	margin: 2rem;
}

.form {
	width: 20rem;
	margin: auto;
}

.form > * {
	display: block;
	width: 20rem;
	margin: 0.5rem 1rem;
	box-sizing: border-box;
}

.layout {
	position: relative;
	margin: 2rem 0rem;
}

.floor {
	display: flex;
	align-items: baseline;
	gap: 1rem;
}

.floor-layout {
	border-bottom: 1px solid black;
	width: 100vw;
	height: 6rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	box-sizing: border-box;
}

.lift {
	position: absolute;
	bottom: 0;
	background-color: rgb(223, 215, 215);
	width: 4rem;
	height: 5rem;
	border: 2px solid black;
}

.door {
	position: absolute;
	height: 100%;
	width: 50%;
	background-color: red;
}

.left-door {
	left: 0;
	transition: width 2.5s;
	border-right: 1px solid black;
}

.right-door {
	right: 0;
	transition: width 2.5s;
	border-left: 1px solid black;
}
